version: "3.9"

services:
  app:
    build: .
    container_name: tvshows_api
    ports:
      - "8000:8000"
    volumes:
      - .:/app
    depends_on:
      - redis
    environment:
      REDIS_HOST: redis
      REDIS_PORT: 6379

  redis:
    image: redis:7
    container_name: tvshows_redis
    ports:
      - "6379:6379"
    command: ["redis-server", "--appendonly", "yes"]
